  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      list-style: none;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  body {
      font-family: sans-serif;
      background-color: rgb(245, 245, 245);
  }
  
  .carousel-item {
      overflow: hidden;
  }
  
  .carousel-item>img {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.349);
  }
  
  .usercontainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      /* align-items: center; */
      margin: 0px;
  }
  
  ul.facontainer {
      list-style-type: none;
  }
  
  .btntopbar:hover {
      text-decoration: none;
  }
  
  .SectionTitle {
      text-align: center;
      text-transform: capitalize;
      font-weight: bold;
  }
  
  .Sectionlogo {
      text-align: center;
      margin: 15px auto;
  }
  
  .introText {
      color: rgb(107, 107, 107);
      font-size: 18px;
  }
  
  .themeColor {
      background-color: rgb(226, 73, 73);
      color: white;
  }
  
  .cardshadow {
      box-shadow: 5px 10px 18px #888888;
  }
  
  .missionItem {
      background-color: rgb(245, 245, 245);
      box-shadow: 5px 8px 13px #dbdada;
  }
  
  .missionHeading {
      color: #316DC3;
      font-family: 'Merriweather', serif;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 1px solid rgba(217, 217, 218, 0.555);
  }
  
  .gallaryimageitem {
      height: 125px;
      width: 100%;
  }
  
  .contactAddressText {
      color: lightgrey;
      font-size: 15px;
  }
  
  .contactAddressHeader {
      font-size: 20px;
      color: white;
      border-bottom: 1px solid rgba(217, 217, 218, 0.555);
  }
  /* //////////// */
  
  .navbar {
      background-color: rgba(0, 0, 0, 0.637) !important;
      position: absolute !important;
      width: 100%;
      font-family: monospace;
      font-size: 17px;
      ;
  }
  
  .nav-link {
      color: white !important;
      margin-right: 10px;
      font-weight: bold;
  }
  
  .nav-link:hover {
      color: rgb(253, 90, 90) !important;
      background-color: transparent !important;
      font-weight: normal;
  }
  
  .nav-link:active {
      border: none !important;
  }
  
  .orderNowbtn {
      background-color: rgb(253, 90, 90);
      color: white;
      padding: 10px;
      font-size: 15px;
      font-weight: bold;
      border: 1px solid rgb(253, 90, 90);
  }
  
  .orderNowbtn:hover {
      background-color: transparent;
      font-weight: normal;
      color: white;
  }
  
  .font-Kaushan {
      font-family: 'Kaushan Script', cursive;
  }
  
  .detailtext {
      color: gray;
  }
  
  .bg-seller {
      background-image: url('../images/bestsellerBg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .slidersubTitle {
      font-size: 1.5rem;
  }
  
  .sliderMainTitle {
      font-size: 8rem;
      letter-spacing: 1.5rem;
  }
  
  .carousel-caption {
      position: absolute;
      top: 38%;
      right: 0;
      left: 0;
  }
  
  .carousel-caption .btn:hover {
      background-color: green;
  }
  
  .carousel-item {
      text-align: center;
  }
  
  .navbar-toggler-icon {
      color: white;
  }
  
  .card {
      background-color: transparent !important;
      padding: 1rem;
      border: none;
  }
  
  .card img {
      height: 200px;
      width: 200px;
      border: 2px solid black;
  }
  
  .dark-overlay {
      position: relative;
      /* Sit on top of the page content */
      width: 100%;
      /* Full width (cover the whole page) */
      height: 100%;
      /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      /* Black background with opacity */
      z-index: 2;
      /* Specify a stack order in case you're using a different order for other elements */
  }
  
  .bg-pizza {
      background-image: url('../images/menu-bg-pizza.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .bg-broast {
      background-image: url('../images/menu-bg-broast.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .bg-sandwich {
      background-image: url('../images/menu-bg-sandwich.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .bg-roll {
      background-image: url('../images/menu-bg-roll.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .bg-shwarma {
      background-image: url('../images/menu-bg-shwarma.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .bg-bbq {
      background-image: url('../images/menu-bg-bbq.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .bg-bbqfish {
      background-image: url('../images/menu-bg-bbqfish.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .bg-soup {
      background-image: url('../images/menu-bg-soup.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .bg-chinese {
      background-image: url('../images/menu-bg-chinese.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  a .dark-overlay:hover {
      background-color: transparent;
      -webkit-transition: background-color 0.5s linear !important;
      -moz-transition: background-color 0.5s linear !important;
      -ms-transition: background-color 0.5s linear !important;
      -o-transition: background-color 0.5s linear !important;
      transition: background-color 0.5s linear !important;
  }
  /* = gallery = */
  
  #demo {
      height: 100%;
      position: relative;
      overflow: hidden;
  }
  
  .green {
      background-color: #6fb936;
  }
  
  .thumb {
      margin-bottom: 30px;
  }
  
  .page-top {
      margin-top: 85px;
  }
  
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius: 5px;
      object-fit: cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
  
  .transition {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
  
  .modal-header {
      border-bottom: none;
  }
  
  .modal-title {
      color: #000;
  }
  
  .modal-footer {
      display: none;
  }
  
  a[class*='carousel-control'] {
      z-index: 500;
  }
  
  .dropdown-menu>a {
      font-family: sans-serif;
  }
  
  .dropdown-menu>a:hover {
      background-color: rgb(248, 70, 70) !important;
      color: white;
  }
  /* Small devices (landscape phones, less than 768px) */
  
  @media (max-width: 767.98px) {
      /* #navbar1 {
          position: relative !important;
          background-color: black !important;
      } */
      .orderNowbtn {
          background-color: rgb(253, 90, 90);
          color: white;
          padding: 4px 4px;
          font-size: 11px;
          font-weight: lighter;
          border: 1px solid rgb(253, 90, 90);
      }
      .slidersubTitle {
          font-size: 0.7rem !important;
      }
      .sliderMainTitle {
          font-size: 2rem !important;
      }
      .carousel-caption>.btn {
          font-size: small !important;
      }
  }
  /* // Medium devices (tablets, less than 992px) */
  
  @media (min-width: 768px) and (max-width: 991.98px) {
      .slidersubTitle {
          font-size: 1rem !important;
      }
      .sliderMainTitle {
          font-size: 5rem !important;
      }
      .carousel-caption>.btn {
          font-size: medium !important;
      }
  }
  /* // Large devices (desktops, less than 1200px) */
  
  @media (max-width: 1199.98px) {}